.section {
    position: relative;
}
.main-slider {
    position: relative;
    overflow: hidden;
}
.main-slider__item {
    position: relative;
    text-align: center;
    width: 100%;
}
.main-slider__item  p {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 80px;
    z-index: 10;
}
.main-slider__item img {
    height: 100%;
}

.main-slider .slick-track {
    display: flex;
    align-items: flex-start;
}
/* Точки (булиты) */
.main-slider .slick-dots {
    position: relative;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.main-slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.main-slider .slick-dots li.slick-active button {
    background-color: $brownte;
    border: none;
}
/* Элемент точки */
.main-slider .slick-dots li button {
    font-size: 0;
    height: 12px;
    border-style: none;
    border: 1px solid $white;
    background: none;
    &:hover {
        background-color: $white;
    }

}
